<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="new_design.My.MySettings.AlgoMdDbConnectionString"
            connectionString="Data Source=LAPTOP-OJC1HEI8\ALGO;Initial Catalog=AlgoMdDb;Persist Security Info=True;User ID=sa;Password=Alg0@2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>